@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
  font-family: 'Poppins', sans-serif !important;
}
.jumbotron {
  padding-top: 6rem;
  background-color: #71bdb0;
}

#projects {
  background-color: #71bdb0;
}

section {
  padding-top: 5rem;
}
